body {
    color: #fff;
    
}
.table {
    color: #fff;
}
.magic {
    color: #4850B8;
}
.crafted {
    color: orange;
}
.rare {
    color: yellow;
}
.search {
    color: black;
}
.numinput {
    margin: 0.5rem 0rem 0.5rem 0rem;
}

.item-type-col {
    max-width: 350px;
    word-wrap: break-word;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
