@page "/"

<h1>D2Craft</h1>

A collection of tools related to crafting for <a href="https://diablo2.blizzard.com/">Diablo II</a>.<br/>
Only uses data from <a href="https://www.projectdiablo2.com/">Project Diablo 2</a>, if there is interest I may update this site for vanilla and other mods as well.<br/><br/>

The <a href="crafting">Crafted Items</a> page covers crafting items using the Horadric Cube<br/>
The <a href="affixes">Affixes</a> page holds a filterable list of all possible affixes for any item<br/><br/>

Created by madinsane, contact me on Discord if you find any issues (madinsane#8324).<br/>
This site is hosted through GitHub Pages and uses Blazor, visit the repo here: <a href="https://github.com/madinsane/D2Craft">https://github.com/madinsane/D2Craft</a>
